<!DOCTYPE html>
<html>


<!-- // o HEAD NÂO APARECE NA PAGINA -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Ian {{.user}}</title>
    <link rel="shortcut icon" href="../assets/goico.ico" type="image/x-icon">
    </style>
</head>
<!-- // o HEAD NÂO APARECE NA PAGINA -->

<!-- Começa a altura da pagina aqui-->
<!-- html, body e section abre e fecha no footer somente -->

<body>
    <section class="hero is-fullheight">