{{template "header.html"}}
<section class="container body-about-container">
    <div class="container has-text-centered" style="margin: 80px; border-radius: 10%">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <figure class="image is-4by3">
                    <img src="https://picsum.photos/800/600/?random" alt="Description">
                </figure>
            </div>
            <div class="column is-6 is-offset-1">
                <figure class="image is-128x128 is-inline-block">
                    <img class="is-rounded" src="../assets/picme.jpg">
                </figure>


                <h1 class="title is-2">
                    Ian Guedes
                </h1>
                <h2 class="subtitle is-4">
                    Passionate about musical instruments, languages ​​and languages.
                    Website developed using the Go language, Gin framework and GORM(ORM) for connecting SQL&NoSQL
                    Databases.

                </h2>
                <br>
                <div class="has-text-centered flex">
                    <a style="margin-right: 20px;" class="button is-medium is-info is-outlined "
                        href="https://github.com/ianvgs/Go-Api-Gin-Gorm">
                        Source Code <i class="fa fa-github ml-3"> </i>
                    </a>
                    <a class="button is-medium is-info is-outlined" href="https://www.linkedin.com/in/ianvgs/">
                        Linkedin
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>




{{template "footer.html"}}