{{define "footer.html"}}


<footer class="footer">
    <div class=" columns is-mobile is-centered">
        <div class="content has-text-centered field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light">Ian Vieira - Since 1992 ®</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-link">The source code is licensed</a>
                    <span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
                </div>
            </div>
        </div>
    </div>
</footer>

</section>
</body>

</html>
{{end}}