{{define "navbar.html"}}
<div>
    <nav class="navbar is-dark" style="background-color: #55696B;">

        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="/assets/gopngg.png">
            </a>
            <div class="navbar-burger burger" data-target="topNav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="topNav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="about">About me</a>
                <!--  <a class="navbar-item" href="kanban[search].html">Kanban</a>
                <a class="navbar-item" href="search.html">Search</a> -->
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-small" href="/login">
                                <span class="icon">
                                    <i class="fa fa-user-plus"></i>
                                </span>
                                <span>
                                    Criar conta
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-small is-info is-outlined" href="/register">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span>Login</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <nav class="navbar is-white ">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-active" href="#">Popular</a>
                <a class="navbar-item" href="#">Recent</a>
                <a class="navbar-item" href="#">Rising</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <input class="input" type="search" placeholder="Search forum...">
                </div>
            </div>
        </div>

    </nav>
</div>

{{end}}